{% extends 'layout/complice.html.twig' %}

{% block contenu %}
    {% include 'utilisateur/form.html.twig' %}
    <div class="form-row align-items-center" >
        <div class="form-group col-lg-1">
            {{ form_widget(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}




